2. Whatsapp Interview Workflow.json
{
  "name": "2. Whatsapp Interview Workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "62006b9f-d24c-4169-a663-eedae98334ed",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        0,
        592
      ],
      "webhookId": "whatsapp-interview-trigger",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "3mfE0sw4L2kLRqUc",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional AI Recruiter. You are interviewing a candidate for a role. \n\n1. If the user says 'START', explain that you will ask 5 technical questions and include the first question.\n2. Ask the questions one by one. Do NOT ask more than one question at a time.\n3. After the 5th answer, say exactly these words: \"Thank you! Your interview is now complete. Our team will review the results.\"\n4. DO NOT mention scores or grades to the candidate.\n5. DO NOT answer any question which is not related to the interview and do not help the candidate in any way.\n\nThis is the User message: \n{{ $json.messages[0].text.body }} OR {{ $json.messages[0].button.text }}\n",
        "options": {}
      },
      "id": "2e52d289-12af-4e9a-828b-d7b0ca5a4efb",
      "name": "AI Interviewer Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        224,
        592
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "3cd7163b-8491-4f64-82c2-bda7e264f69c",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        576,
        496
      ],
      "webhookId": "6b25ab2d-81b2-447d-9d39-266547b76679",
      "credentials": {
        "whatsAppApi": {
          "id": "S8SEM4f9NHeDRlOo",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=System Instruction / Prompt:\n\nYou are an expert Technical Hiring Auditor. Your task is to analyze the provided interview transcript and generate a final candidate scorecard.\n\nEvaluation Rubric:\n\nTechnical Accuracy (50%): Does the candidate demonstrate a deep understanding of the concepts? Are their answers factually correct?\n\nProblem Solving (30%): Does the candidate explain their thought process clearly? How do they handle scenario-based questions?\n\nCommunication (20%): Is the candidate professional, concise, and able to explain complex ideas simply?\n\nTranscript to Analyze: > \n\"\"\"\n{{ $json.interview_data.map(item => `Q: ${item['Question Number']}\\nA: ${item['User Response']}`).join('\\n\\n') }}\n\"\"\"\n\nOutput Format (Strictly follow this):\n\nTOTAL SCORE: [Number between 0-100]\n\nSTRENGTHS: [2-3 bullet points]\n\nWEAKNESSES: [2-3 bullet points]\n\nHIRE RECOMMENDATION: [Strong Hire / Pass / Reject]\n\nCONFIDENCE: [High/Medium/Low based on the length of responses]",
        "hasOutputParser": true
      },
      "id": "b5f20497-68a5-4567-9c3a-ec9a1f9cdce3",
      "name": "Hidden Assessment Scorer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1920,
        688
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        224,
        816
      ],
      "id": "ab840f6b-e89a-4d6a-8a0d-b5deddaec23d",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "SuQXDpPcOxgnL7OM",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "path": "ai-interview",
        "options": {}
      },
      "id": "ad902637-5882-4ee3-bba5-aad3b15aca72",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        240
      ],
      "webhookId": "ecaf654d-4961-453d-8b2f-ebce18031a30"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.messages[0].from }}",
        "contextWindowLength": 4
      },
      "id": "b6ab4945-5ec1-43bd-a9b8-47ab17dc15b6",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        352,
        816
      ],
      "notesInFlow": false
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"total_score\": 0,\n  \"strengths\": [\n    \"Bullet point 1\",\n    \"Bullet point 2\"\n  ],\n  \"weaknesses\": [\n    \"Bullet point 1\",\n    \"Bullet point 2\"\n  ],\n  \"hire_recommendation\": \"Strong Hire / Pass / Reject\",\n  \"confidence\": \"High / Medium / Low\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2064,
        912
      ],
      "id": "ff3624fc-ea0c-4ad7-9a10-427bf572d017",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1920,
        912
      ],
      "id": "b47dcd48-3986-462e-b86d-cc9e2e07ad90",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "SuQXDpPcOxgnL7OM",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "230b278b-ebcb-48eb-9766-cf8aaece7389",
              "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body.toUpperCase() }} ",
              "rightValue": "START",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "39d55082-3b9d-4cbe-8d6d-42cec9b954db",
              "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].button.text }}",
              "rightValue": "START",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        576,
        688
      ],
      "id": "d38839f8-7085-466d-8bdd-3cdae42bfc3a",
      "name": "If START"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('If START').item.json.output }}",
              "operation": "contains",
              "value2": "interview is now complete"
            }
          ]
        }
      },
      "id": "fea8bd6a-5904-4c7f-b539-12732674c385",
      "name": "Check if Finished",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1248,
        784
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1lDxqC071diJ4oOwnlVQWaxBBumxyIPqrzLoUi_5Uxrg",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lDxqC071diJ4oOwnlVQWaxBBumxyIPqrzLoUi_5Uxrg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "User ID": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
            "Question Number": "={{ $('AI Interviewer Agent').item.json.output }}",
            "Name": "={{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}"
          },
          "matchingColumns": [
            "User ID"
          ],
          "schema": [
            {
              "id": "User ID",
              "displayName": "User ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Question Number",
              "displayName": "Question Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User Response",
              "displayName": "User Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        592
      ],
      "id": "6302f7d7-5aff-4594-9172-bbdf37c837cb",
      "name": "Add Question",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fIp7Cr5PCM680JSY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lDxqC071diJ4oOwnlVQWaxBBumxyIPqrzLoUi_5Uxrg",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lDxqC071diJ4oOwnlVQWaxBBumxyIPqrzLoUi_5Uxrg/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "User ID",
              "lookupValue": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
            },
            {
              "lookupColumn": "User Response"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        784
      ],
      "id": "19de90b3-0aeb-4936-9f80-e05325d2273f",
      "name": "Get Question",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fIp7Cr5PCM680JSY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1lDxqC071diJ4oOwnlVQWaxBBumxyIPqrzLoUi_5Uxrg",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lDxqC071diJ4oOwnlVQWaxBBumxyIPqrzLoUi_5Uxrg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "User Response": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "User ID",
              "displayName": "User ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Question Number",
              "displayName": "Question Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "User Response",
              "displayName": "User Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        784
      ],
      "id": "179ed38a-d41d-4496-9acc-2ed567dd6123",
      "name": "Add Prev Q Answer",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fIp7Cr5PCM680JSY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lDxqC071diJ4oOwnlVQWaxBBumxyIPqrzLoUi_5Uxrg",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lDxqC071diJ4oOwnlVQWaxBBumxyIPqrzLoUi_5Uxrg/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "User ID",
              "lookupValue": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        688
      ],
      "id": "ed46d4d1-71fe-4dae-a85d-5ef16e0b8f02",
      "name": "Get All Conversation",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fIp7Cr5PCM680JSY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "interview_data",
        "include": "specifiedFields",
        "fieldsToInclude": "Question Number, User Response",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1696,
        688
      ],
      "id": "46ce458a-5dd6-4bbd-923f-898851c8a318",
      "name": "Aggregate Conversation"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1lDxqC071diJ4oOwnlVQWaxBBumxyIPqrzLoUi_5Uxrg",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lDxqC071diJ4oOwnlVQWaxBBumxyIPqrzLoUi_5Uxrg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "User ID": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
            "Question Number": "={{ $('AI Interviewer Agent').item.json.output }}",
            "Name": "={{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "User ID",
              "displayName": "User ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Question Number",
              "displayName": "Question Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User Response",
              "displayName": "User Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        880
      ],
      "id": "b393fdad-e133-46b5-b463-53035843e9a2",
      "name": "Add Next Question",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fIp7Cr5PCM680JSY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1lDxqC071diJ4oOwnlVQWaxBBumxyIPqrzLoUi_5Uxrg",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 2084511208,
          "mode": "list",
          "cachedResultName": "Result",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lDxqC071diJ4oOwnlVQWaxBBumxyIPqrzLoUi_5Uxrg/edit#gid=2084511208"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "User ID": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
            "Strengths": "=> {{ $json.output.strengths.join('\\n> ') }}",
            "Weaknesses": "=> {{ $json.output.weaknesses.join('\\n> ') }}",
            "Hire Recommendation": "={{ $json.output.hire_recommendation }}",
            "Confidence": "={{ $json.output.confidence }}",
            "Name": "={{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "User ID",
              "displayName": "User ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Strengths",
              "displayName": "Strengths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Weaknesses",
              "displayName": "Weaknesses",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hire Recommendation",
              "displayName": "Hire Recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Confidence",
              "displayName": "Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2272,
        688
      ],
      "id": "caa600f8-502f-4177-a7f1-c921d69bb681",
      "name": "Add Interview Result",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fIp7Cr5PCM680JSY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v25.0/1090210054169433/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.query.phone }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"interview_invitation\",\n    \"language\": {\n      \"code\": \"en_US\"\n    },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          {\n            \"type\": \"text\",\n            \"parameter_name\": \"name\",\n            \"text\": \"{{ $json.query.name }}\"\n          },\n          {\n            \"type\": \"text\",\n            \"parameter_name\": \"role\",\n            \"text\": \"{{ $json.query.role }}\"\n          }\n        ]\n      }\n    ]\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        240
      ],
      "id": "96719853-4237-4424-888c-2184c586c4a7",
      "name": "Send Interview Invitation",
      "credentials": {
        "whatsAppApi": {
          "id": "S8SEM4f9NHeDRlOo",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://yukisf.app.n8n.cloud/webhook/hr-interview",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2480,
        688
      ],
      "id": "0d1b1aba-10c8-4372-88a7-57b585c17e58",
      "name": "Initiate HR Interview"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Interviewer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Interviewer Agent": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "If START",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Interviewer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Send Interview Invitation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Interviewer Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Hidden Assessment Scorer": {
      "main": [
        [
          {
            "node": "Add Interview Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Hidden Assessment Scorer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Hidden Assessment Scorer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If START": {
      "main": [
        [
          {
            "node": "Add Question",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Finished": {
      "main": [
        [
          {
            "node": "Get All Conversation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Next Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Question": {
      "main": [
        [
          {
            "node": "Add Prev Q Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Prev Q Answer": {
      "main": [
        [
          {
            "node": "Check if Finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Conversation": {
      "main": [
        [
          {
            "node": "Aggregate Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Conversation": {
      "main": [
        [
          {
            "node": "Hidden Assessment Scorer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Interview Result": {
      "main": [
        [
          {
            "node": "Initiate HR Interview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e2966c26-c848-4d7e-a1f3-4701e350e427",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f596318a6c87b9ecf5b99de2a888e1d8d4225b868e289ef3610d8c489e81edd"
  },
  "id": "cib2JWOS4PlTCeDs",
  "tags": []
}